input {
    display: none;
    position: relative;
}

label {
    width: 200px;
    height: 100px;
    background-color: darkgray;
    border: 1px black solid;
    border-radius: 100px;
    position: absolute;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 80px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

input:checked + label {
    background-color: royalblue;
}

input:checked + label .circle {
    margin-left: 110px;
}