body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.traffic-light {
  display: flex;
  flex-direction: row-reverse;
  width: 400px;
  height: 150px;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px black solid;
  border-radius: 60px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.red {
  background-color: red;
  animation: a1 8s infinite;
}

.yellow {
  background-color: yellow;
  animation: a2 8s infinite;
}

.green {
  background-color: green;
  animation: a3 8s infinite;
}

@keyframes a1 {
  0% {
    opacity: 0.2;
  }

  62.4% {
    opacity: 0.2;
  }

  62.5% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes a2 {
  0% {
    opacity: 0.2;
  }

  49.9% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  62.4% {
    opacity: 1;
  }

  62.5% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes a3 {
  0% {
    opacity: 1;
  }

  49.9% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.2;
  }
}