body{
    display: flex;
    gap: 50px;
}
div{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
div:active{
    background-color: yellow;
    border: solid black 5px;  
    width: 71px;
    height: 71px;
}